name: Run on Push

on:
  push:
    branches:
      - main
      - master
      - dev   # optional
    # OR trigger on any branch:
    # branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run script
        run: echo "Push detected!"
